<%- include ("../partials/head") %> <%-include("../partials/header")%>
<body>
  <div class="m-4">
    <p class="paragraph-text m-4 text-center">
      Please enter the range of rentals per month
    </p>
    <div class="form-wrapper">
      <form action="listings/add" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="" class="form-label">Location</label>
          <input
            type="text"
            name="location"
            id="location"
            class="form-control"
            placeholder=""
            aria-describedby="helpId"
          />
          <small id="helpId" class="text-muted">Suburb /Township</small>
        </div>

        <div class="mb-3">
          <label for="" class="form-label">City</label>
          <input
            type="text"
            name="city"
            id="city"
            class="form-control"
            placeholder=""
            aria-describedby="helpId"
          />
          <small id="helpId" class="text-muted"
            >City where the property is located</small
          >
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Rooms</label>
          <input
            type="text"
            name="rooms"
            id="rooms"
            class="form-control"
            placeholder=""
            aria-describedby="helpId"
          />
          <small id="helpId" class="text-muted"
            >How many rooms does your property have</small
          >
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Rooms</label>
          <input
            accept="image/*"
            type="file"
            name="pic"
            id="pic"
            class="form-control"
            placeholder="picture of property"
          />
          <small id="helpId" class="text-muted"
            >Accepted file formats png,jpeg,jpg</small
          >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <%-include("../partials/foot") %>
</body>
