<%- include ("./partials/head") %> <%-include("./partials/header")%>
<body>
  <div class="m-4">
    <form action="add" method="post" id="addListing">
      <div class="form-group">
        <label for="ownership" class="form-label">Ownership</label>
        <select name="ownership" id="ownership" class="form-select">
          <option value="Owner">Owner</option>
          <option value="Agent">Agent</option>
          <option value="SubLetting">Subletting</option>
        </select>
      </div>
      <div class="form-group m-2">
        <label for="" class="form-label">Features</label>
        <div class="form-check m-1">
          <input
            type="checkbox"
            class="form-check-input"
            name="Walled"
            value="Walled"
          />
          <label for="Walled" class="form-check-label">Walled</label>
        </div>
        <div class="form-check m-1">
          <input
            type="checkbox"
            class="form-check-input"
            name="fenced"
            value="fenced"
          />
          <label for="fenced" class="form-check-label">fenced</label>
        </div>
        <div class="form-check m-1">
            <input
              type="checkbox"
              class="form-check-input"
              name="parkingSpace"
              value="parkingSpace"
            />
            <label for="parkingSpace" class="form-check-label">Parking Space</label>
          </div>
          <div class="form-check m-1">
            <input
              type="checkbox"
              class="form-check-input"
              name="electricity"
              value="electricity"
            />
            <label for="electricity" class="form-check-label">Electricity</label>
          </div>
          <div class="form-check  m-1">
            <input
              type="checkbox"
              class="form-check-input"
              name="water"
              value="water"
            />
            <label for="water" class="form-check-label">Water</label
      </div>

    
      <div class="form-group">
        <input
          class="form-control m-2 p-2"
          type="text"
          placeholder="title"
          name="title"
          id="title"
        />
      </div>
      <div class="">
        <input
          class="form-control m-2 p-2"
          type="text"
          placeholder="city"
          name="city"
          id="city"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          placeholder="Full Address"
          name="fullAddress"
          id="fullAddress"
        />
      </div>
      
      <div>
        <label for="pic1">Select image:</label>
        <input type="file" id="pic1" name="pic1" accept="image/*" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  <%-include("./partials/foot") %>
</body>
