<%- include ("./partials/head") %> <%-include("./partials/header")%>
<div id="banner-wrapper">
  <div id="banner" class="box container">
    <div class="row">
      <div class="col-7 col-12-medium">
        <h2>Hi. This is FaR</h2>
        <p>Bringing together property owners and tenants</p>
      </div>
      <div class="col-5 col-12-medium">
        <ul>
          <li>
            <a href="#" class="button large icon solid fa-arrow-circle-right"
              >Add your property</a
            >
          </li>
          <li>
            <a href="#" class="button alt large icon solid fa-question-circle"
              >Find a room</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="main-wrapper">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-4 col-12-medium">
        <!-- Sidebar -->
        <div id="sidebar">
          <section class="widget thumbnails">
            <h3>Interesting stuff</h3>
            <div class="grid">
              <div class="row gtr-50">
                <div class="col-6">
                  <a href="#" class="image fit"
                    ><img src="images/pic04.jpg" alt=""
                  /></a>
                </div>
                <div class="col-6">
                  <a href="#" class="image fit"
                    ><img src="images/pic05.jpg" alt=""
                  /></a>
                </div>
                <div class="col-6">
                  <a href="#" class="image fit"
                    ><img src="images/pic06.jpg" alt=""
                  /></a>
                </div>
                <div class="col-6">
                  <a href="#" class="image fit"
                    ><img src="images/pic07.jpg" alt=""
                  /></a>
                </div>
              </div>
            </div>
            <a href="#" class="button icon fa-file-alt">More</a>
          </section>
        </div>
      </div>
      <div class="col-8 col-12-medium imp-medium">
        <!-- Content -->
        <div id="content">
          <section class="last">
            <h2>So what's this all about?</h2>
            <p>
              This is <strong>FaR</strong>,(Find a Room) an application built
              to, literally , help you find a room. If you own a property you
              can find your next tenant by "listing" your property. Listed
              properties contain basic information about the property such as
              number of rooms, location, city which helps prospective tenants to
              find the property that is best suited for them.

              <a href="">FaR</a>, Picture this, You have just arrived in a new
              town as a worker and you are lving a friend`s house while you
              search for your own apartment. Between settling in at your new job
              ,and learning the ins and outs of your new town, ypu hardly have
              any time to go around blindly knocking on doors to find lodging.
            </p>
            <p>
              ,While on a lunch break, you are able to check out your rooms that
              are availble in your area.
            </p>
            <a href="#" class="button icon solid fa-arrow-circle-right"
              >Go to lisitings</a
            >
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include("./partials/foot") %>
