.form-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.form-wrapper form {
  padding: 2%;
  width: 75%;
  border-radius: 10px;
  border: 1px solid #444;
}
