
.spacer {
  height: 3rem;
  width: 100%;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.form-wrapper form {
  background-color: #fff;
  padding: 2%;
  width: 75%;
  border-radius: 10px;
  border: 1px solid #dee2e6;
}
/* media queries */
@media screen and (max-width: 736px) {
  .form-wrapper form {
    width: 100%;
  }
}
@media screen and (max-width: 980px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1680px) {
}
